.article {
    float: left;
    border-top: solid 2px black;

    &__title {
        padding-top: 12px;
        margin: 0 0 12px 0;
        font-size: 24px;
        line-height: 1;
        width: 100%;
        float: left;
        font-weight: normal;
    }

    &__text {
        color: #333333;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
        width: 100%;
        float: left;
        padding-right: 15px;
    }

    span {
        text-decoration: underline;
    }

}