.price-table {
    width: 223px;
    float: left;
    margin: 0 19px 0 0;

    &__block {
        float: left;
        width: 100%;
    }

    &__block-1 {
        border-top: solid 2px black;
    }

    &__block-2 {
        
    }

    &__block-3 {
        
    }

    &__block-4 {
        
    }

    &__block-5 {
        
    }

    &__title {
        
    }

    &__price {

    }

    &__price-disclaimer {

    }

    &__internet-mbps {

    }

    &__ideal {

    }

    &__download {

    }

    &__tv-type {

    }

    &__tv-instructions {
        
    }

    &__link-channel {

    }

    &__logo-showtime {

    }

    &__included {

        span {

        }

    }

    &__dvr-service {

    }

    &__home-phone {

    }

    &__unlimited {

    }

    &__price-guarantee {

    }
    
}